<section id="aboutme" class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-12">
                <!-- <img src="img/about/profile2.jpg" class="img-responsive img-thumbnail aboutMe" alt=""> -->
            </div>
            <div class="col-md-10 col-sm-12">
                <p class="large" id="about_me_text">I'm a Full Stack Web Developer and Financial Analyst who is on the lookout for fresh new opportunities. Excited by the possibilities of code I am seeking an environment where I can be constantly challenged and stimulated, continuing my growth as a developer. Currently London based.
                </p>

        
            </div>
            <div class="col-md-1 col-sm-12">
               
            </div>
        </div>

    </div>
</section>
