<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/portfolio/MEAN.png" class="img-responsive img-centered" alt="MEAN stack">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/portfolio/rails.png" class="img-responsive img-centered techStack" alt="Ruby on Rails">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/portfolio/bower.png" class="img-responsive img-centered techStack" alt="Bower Components">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/portfolio/ruby.png" class="img-responsive img-centered techStack" alt="Ruby">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/portfolio/python.png" class="img-responsive img-centered techStack" alt="Python">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/portfolio/git.png" class="img-responsive img-centered techStack" alt="Git Version Control">
                    </a>
                </div>
            </div>
        </div>
    </aside>
