    <section id="experience2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" id="experienceTitle">Experience</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" id="mslogo" src="img/portfolio/ms.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                 
                                    <h4 class="subheading">Financial Analyst, Microsoft</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      I was the lead OPEX analyst in central finance UK headquarters and maintained key financial rhythms and business partnering of a $20m OPEX fund.
                                      During my 4 and a half years I developed numerous data cubes and financial reports using Excel, Access, PowerPivot, DAX and MDX.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/ga.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   
                                    <h4 class="subheading">Web Development Immersive Student, General Assembly</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My curiosity for development led me to GA, where I attended the WDI course. This enabled me to gain a strong foundational understanding in Full Stack Web Development as well as developing industry standard practices such as AGILE workflow, TDD and Git version control.
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/future.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Freelance Developer & Teacher</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Developing websites and applications. Teaching code on an individual basis. Also have learnt new technologies including Leap Motion, Raspberry Pi and Arduino development </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
