    <section id="experience" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Path</h2>
                    <h3 class="section-subheading text-muted">my career to date and where I want to go</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" id="mslogo" src="img/portfolio/ms.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2014</h4>
                                    <h4 class="subheading">OPEX Analyst @ Microsoft</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      I was the lead OPEX analyst in central finance UK headquarters and maintained key financial rhythms and business partnering of a $20m OPEX fund.
                                      What I really loved though was developing cloud based power BI dashboarding suites and I decided to leave and refine my career direction towards programming (and do some travelling in between!)
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/ga.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">General Assembly - Web Development Immersive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My curiosity for development led me to GA, where I attended the WDI course. This enabled me to gain a strong foundational understanding in Full Stack Web Development (see <a href="#technology"> Technology </a> section for detail) as well as developing industry standard practices such as AGILE workflow, TDD and Git version control.
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/future.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 - Future</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I want to continue my journey into code and am currently seeking opportunities in Full Stack Web Development. I've also started learning IoT development and am really interested in this space. Any organisations/startups which are involved with IoT development, Raspberry Pi/Arduino prototyping, data visualisation, green energies and horticulture are those which I am particularly interested in working for! Underlying that all, I strive to expand my knowledge base and am keen to contribute to code base. </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
