
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header page-scroll">
                <button id="burger" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            <a class="navbar-brand page-scroll" href="#page-top"> <i id="home_icon" class="fa fa-home" aria-hidden="true"></i>
                
            </a>


            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a id="navbar_about" class="page-scroll" href="#aboutme">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#experience">Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contactus">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="" id="introSection">
            <div class="intro-text">
                <img src="../img/about/profile_cutout.png" alt="" id="intro_img">
                <div id="intro_heading" class="intro-heading">JASEL CHAUHAN</div>
                <div id="intro-subtext" class="intro-lead-in">Full Stack Web Developer <span class="filler"></span>   || <span class="filler"></span>   Financial Analyst  <span class="filler"></span>||<span class="filler"></span>   Friendly Dude</div>
                <a id="about_btn" href="#aboutme" class="page-scroll btn btn-xl">About</a>
            </div>
        </div>
    </header>
