<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"></h2>
            </div>
        </div>
        <div class="row text-center">
            <p id="introductionText1"> Hi! I'm Jasel and I'm a web developer who specialises in designing and building websites for individuals and companies. I also love developing Internet of Things applications using my Rasperry Pi and Arduino boards! </p>
            <p id="introductionText2"> I'm currently available for work so please use the social media links at the bottom of the site to get in touch... or just to say hi!</p>
        </div>
    </div>
</section>
