<!-- Services Section -->
    <section id="philosophy"  class="bg-light-gray philosophy">
      <div class="shader"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interests & Philosophy</h2>
                    <h3 class="section-subheading text-muted">“The future is not something we enter. The future is something we create.” Leonard Sweet</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">internet of things</h4>
                    <p class="text-muted text-muted-philosophy">the future is headed towards fridges which automatically tell you when you've run out of eggs, and mirrors which will beam up your day's agenda when you brush your teeth first thing in the morning. The internet will integrate into most of our physical world which is both incredible and scary!</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                      <i class="fa fa-leaf" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">design in nature's image</h4>
                    <p class="text-muted text-muted-philosophy">it's simply incredible to think that we have created computers in our own image, using the rules of nature. As tech is now rapidly evolving towards enhanced AI, it will be more important than ever to keep this design principle in mind, as we continue to model the new generations of computers after our own brain neural networks, or DNA code! </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">harness data</h4>
                    <p class="text-muted text-muted-philosophy">we live in a world where data is king- it is the oil of technoology which lubricates and allows better integration across applications. I strongly believe in using data responsibly, but also to create new insights! Big ups for API's!</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">positively contribute</h4>
                    <p class="text-muted text-muted-philosophy">whatever I choose to pursue I always believe in positive contribution - are my actions producing positive energies to the outside world or am I just doing something for myself? It can be both!</p>
                </div>
            </div>
        </div>
    </section>
