    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                        <img src="img/portfolio/MEAN.png" class="img-responsive img-centered techStack" alt="MEAN stack">
                </div>
                <div class="col-md-2 col-sm-2">
                        <img src="img/portfolio/ruby.png" class="img-responsive img-centered techStack" alt="Ruby on Rails">
                </div>
                <div class="col-md-2 col-sm-2">
                        <img src="img/portfolio/bower.png" class="img-responsive img-centered techStack" alt="Bower Components">
                </div>
                <div class="col-md-2 col-sm-2">
                        <img src="img/portfolio/pi.png" class="img-responsive img-centered techStack" alt="Ruby">
                </div>
                <div class="col-md-2 col-sm-2">
                        <img src="img/portfolio/python.png" class="img-responsive img-centered techStack" alt="Python">
                </div>
                <div class="col-md-2 col-sm-2">
                        <img src="img/portfolio/git.png" class="img-responsive img-centered techStack" alt="Git Version Control">
                </div>
            </div>
        </div>
    </aside>
