    <section id="technology">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technology Stack</h2>
                    <h3 class="section-subheading text-muted">I feel most comfortable developing on a MEAN stack using JavaScript, however I can code in Ruby and have dabbled in Python too and am always up for learning new languages! I'm also starting to experiment with Internet of Things development - this is something I'm really interested in!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">comfortable using</h4>
                    <p class="text-muted">
                      <li class="text-muted">MEAN Stack (MongoDB, Express, AngularJS, Node.js)</li>
                      <li class="text-muted">Ruby (Sinatra and Rails)</li>
                      <li class="text-muted">Responsive Web Design</li>
                      <li class="text-muted">PostgreSQL/Relational Databases</li>
                      <li class="text-muted">oAuth login</li>
                      <li class="text-muted">APIs and consuming API data</li>
                      <li class="text-muted">BCrypt Password Hashing</li>
                      <li class="text-muted">Bower Components</li>
                      <li class="text-muted">Git Version Control</li>
                      <li class="text-muted">JSON Web Tokens</li>
                      <li class="text-muted">HTML 5</li>
                      <li class="text-muted">CSS 3 </li>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">i've dabbled in</h4>
                    <p class="text-muted">
                      <li class="text-muted">TDD (Ruby and JavaScript)</li>
                      <li class="text-muted">Android App Development</li>
                      <li class="text-muted">Wordpress</li>
                      <li class="text-muted">Heroku Deployment</li>
                      <li class="text-muted">E-Commerce Shopping Carts</li>
                      <li class="text-muted">Python</li>
                      <li class="text-muted">Gulp</li>
                      <li class="text-muted">IFTTT IoT Development</li>
                      <li class="text-muted">Flic IoT button</li>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">preferred set-up</h4>
                    <p>
                      <li class="text-muted">Macbook Pro/iMac</li>
                      <li class="text-muted">Atom Text Editor</li>
                      <li class="text-muted">MEAN Stack for Web Development</li>
                      <li class="text-muted">Raspberry Pi</li>
                      <li class="text-muted">Arduino Uno</li>
                      <li class="text-muted">Git Version Control</li>
                    </p>
                </div>
            </div>
        </div>
    </section>
