/*navbar styling*/

.navbar-default.navbar-shrink {
    background-color: rgba(0,0,0);
}

.navbar-default .navbar-nav>.active>a {
  background-color: rgba(0,0,0,0);
  color:  #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(0,0,0,0);
  color:  #{{ site.data.template.color.primary }};
}

a.navbar-brand.page-scroll {
  padding-top: 0px;
}

#home_icon{
  color:white;
  margin-top: 15px;
  font-size: 1.5em;
}

#home_icon:hover{
  color:#489E74;
}

#burger{
  background-color: black;
}
