/*navbar styling*/

.navbar-default.navbar-shrink {
    padding: 30px 0;
    background-color: rgba(0,0,0,.8);
}

.navbar-default .navbar-nav>.active>a {
  background-color: rgba(0,0,0,0);
  color:  #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(0,0,0,0);
  color:  #{{ site.data.template.color.primary }};
}

#navbarLogo{
  height:60px;
}

a.navbar-brand.page-scroll {
  padding-top: 0px;
}
