<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}
    {% include introduction.html %}
    {% include philosophy.html %}
    {% include portfolio_grid.html %}
    {% include experience.html %}
    {% include technology.html %}
    {% include techlogos.html %}
    {% include aboutme.html %}
    <!-- {% include contact.html %} -->
    {% include footer.html %}
    {% include projects.html %}
    {% include js.html %}

    </body>
</html>
