{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{% include css/navbar.css %}
{% include css/footer.css %}
{{ content }}


.intro-heading{
  color:black;
}


header .intro-text .intro-lead-in  {
  font-style: normal;
  color:black;
  margin-bottom: 250px;
}

/*

div.intro-text{
  margin-bottom: 400px;
}

header .intro-text .intro-lead-in{
  color:black;
}

header .intro-text .intro-heading{
  color: black;
}

#introductionText1{
  font-size: 20px;
  font-style: italic;
  margin-top: 250px;
}

#introductionText2{
  font-size: 20px;
  font-style: italic;
  margin-bottom: 250px;
}



div.col-lg-12.text-center{
  margin-top: 25px;
}

ul li a.page-scroll{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#philosophyTagline{
  font-size: 20px;
}

div.intro-lead-in{
  font-size: 26px !important;
  color: #777 !important;
}

header .intro-text .intro-lead-in {
}

a.page-scroll.btn.btn-xl{
  margin-top: 30px;
}

section{
  padding-top: 80px;
  padding-bottom: 105px;
}

h2.section-heading{
  margin-top: 50px;
}

#intro_button{
  margin-bottom: 300px;
}

.techStack{
  height: 50px;
}

img.img-responsive.img-centered.techStack{
  margin-bottom: 50px;
}

.philosophy{
  background-image: url("img/portfolio/background.jpg");
  background-size: cover;
  margin-top: 200px;
}

#PortfolioTitle{
  margin-bottom: 50px;
}

#experienceTitle{
  margin-bottom: 50px;
}



#aboutme{
    background-image: url("img/portfolio/background2.jpg");
    background-size: cover;
}

.text-muted-philosophy{
  color: #{{ site.data.template.color.secondary-dark }}
}


.rowHidden{
  display: none;
}



@media(max-width:768px) {

  #introductionText1{
    font-size: 16px;
    font-style: italic;
    padding-left: 15px;
    padding-right:15px;
    margin-top: 150px;
  }

  #introductionText2{
    font-size: 16px;
    font-style: italic;
    padding-left: 15px;
    padding-right:15px;
    margin-bottom: 250px;
  }

  div.intro-heading{
    margin-top: 50px;
  }

  div.intro-lead-in{
    margin-top: 100px;
    font-size: 20px !important;
  }

  #philosophyTagline{
    font-size: 16px;
  }

  .philosophy{
    background-image: url("img/portfolio/backgroundmobile2.jpg");
    background-size: cover;
  }

  #aboutme{
    background-image: url("img/portfolio/backgroundmobile2.jpg");
    background-size: cover;
  }

  .techStack{
    display: none;
  }

  img.img-responsive.img-thumbnail.aboutMe{
    width: 250px;
    margin-left: 35px;
    margin-bottom: 20px;
  }


  img#navbarLogo{
    height: 50px;
    margin-top: 5px;
  }

  a.page-scroll.btn.btn-xl{
    margin-top: 30px;
    height: 60px;
  }

  section {
    padding-bottom: 50px;
    padding-top: 40px;
  }

  p.large {
    font-size: 14px;
  }

  img#aboutMePic2.img-responsive.img-thumbnail.aboutMe{
    display:none;
  }


}


@media (min-width: 768px)
  and (max-width: 992px)

 {
   img.img-responsive.img-thumbnail.aboutMe{
     width: 250px;
   }

   .philosophy{
     background-image: url("img/portfolio/backgroundmobile2.jpg");
     background-size: cover;
   }

   #aboutme{
     background-image: url("img/portfolio/backgroundmobile2.jpg");
     background-size: cover;
   }

   img#aboutMePic2.img-responsive.img-thumbnail.aboutMe{
     display:none;
   }


 }
*/